[submodule "Assets/PhysicalSky"]
	path = Assets/PhysicalSky
	url = https://github.com/MartinPalko/PhysicalSky.git
[submodule "Assets/PostProcessing"]
	path = Assets/PostProcessing
	url = https://github.com/Unity-Technologies/PostProcessing.git
